@tailwind base; 
/* @tailwind components; */
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.group:hover div {
  /* background: violet;  */
  /* Replace with the color you want */
  display: flex;
}

.spinner-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.spinner {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


